.preact-hint {
  --tooltip-bg-color: #000;
  --tooltip-text-color: #fff;

  position: absolute;
  z-index: 9999;
  cursor: default;

  &:after {
    content: '';
    width: 0;
    height: 0;
    margin: auto;
    display: block;
    position: absolute;
    border: 5px solid transparent;
  }

  &:not([data-placement]), &[data-placement='top'] {
    padding-bottom: 5px;

    &:after {
      top: auto;
      left: 0;
      right: 0;
      bottom: 0;
      border-bottom: none;
      border-top-color: var(--tooltip-bg-color);
    }
  }

  &[data-placement='bottom'] {
    padding-top: 5px;

    &:after {
      top: 0;
      left: 0;
      right: 0;
      bottom: auto;
      border-top: none;
      border-bottom-color: var(--tooltip-bg-color);
    }
  }

  &[data-placement='left'] {
    padding-right: 5px;

    &:after {
      top: 0;
      left: auto;
      right: 0;
      bottom: 0;
      border-right: none;
      border-left-color: var(--tooltip-bg-color);
    }
  }

  &[data-placement='right'] {
    padding-left: 5px;

    &:after {
      top: 0;
      left: 0;
      right: auto;
      bottom: 0;
      border-left: none;
      border-right-color: var(--tooltip-bg-color);
    }
  }
}

.preact-hint__fade-in {
  animation: 0.5s fadeIn;
}

.preact-hint__content {
  padding: 10px;
  border-radius: 5px;
  background: var(--tooltip-bg-color);
  color: var(--tooltip-text-color);
  display: block;
  white-space: nowrap;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
